<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="esp.adivinanzas.trabalenguas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdivinanzasYTrabalenguas">

        <meta-data
            android:name="ADMOB_ALLOW_LOCATION_FOR_ADS"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1638623502605136~9090898137"/>

        <activity android:name="esp.adivinanzas.trabalenguas.AdivinanzasViewPager" />
        <activity android:name="esp.adivinanzas.trabalenguas.AdivinanzaActivity" />
        <activity android:name="esp.adivinanzas.trabalenguas.TrabalenguasViewPager" />
        <activity android:name="esp.adivinanzas.trabalenguas.TrabalenguasActivity" />
        <activity android:name="esp.adivinanzas.trabalenguas.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>